KCAmodified/data/metric_based_evaluation/acibench_testset.jsonl filter=lfs diff=lfs merge=lfs -text
KCAmodified/data/processed_results/qwen2-1.5b_shot-5_truthfulqa_test_truthset_openbook.json filter=lfs diff=lfs merge=lfs -text
KCAmodified/data/processed_results/qwen2-1.5b_shot-5_wizardlm_testset_sorry.json filter=lfs diff=lfs merge=lfs -text
KCAmodified/evaluation_results/answer_greedy/data-Qwen2:1.5b_shot-5_acibench_model-llama_greedy.jsonl filter=lfs diff=lfs merge=lfs -text
KCAmodified/evaluation_results/answer_greedy/data-TinyLLM_shot-5_lima_testset_greedy.jsonl filter=lfs diff=lfs merge=lfs -text
KCAmodified/qualitative_analysis/qualitative_analysis_tinyLLM_vicuna_testset_greedy.json filter=lfs diff=lfs merge=lfs -text
KCAmodified/data/examination/output/train/qwen2-1.5b/5-shot/wizardlm_alpaca_single_turn_classify_parse_res_select_need_knowledge_gen_parse_res_test_gen_normalize_openai_results.jsonl filter=lfs diff=lfs merge=lfs -text
KCAmodified/data/processed_results/qwen2-1.5b_shot-5_vicuna_testset_sorry.json filter=lfs diff=lfs merge=lfs -text
KCAmodified/evaluation_results/review_greedy/data-TinyLLM_shot-5_lima_testset_model-baseline_TinyLLM_wizardlm_alpaca_train_hallucination_judge_greedy.jsonl filter=lfs diff=lfs merge=lfs -text
KCAmodified/evaluation_results/answer_greedy/data-Qwen2:1.5b_shot-5_msmacro_model-llama_greedy.jsonl filter=lfs diff=lfs merge=lfs -text
KCAmodified/data/examination/output/test/qwen2-1.5b/5-shot/vicuna_testset_single_turn_classify_parse_res_select_need_knowledge_gen_parse_res_test_gen_normalize_openai_results.jsonl filter=lfs diff=lfs merge=lfs -text
KCAmodified/data/examination/output/test/qwen2-1.5b/5-shot/vicuna_testset_single_turn_classify_parse_res_select_need_knowledge_gen_parse_res_test_gen_normalize.jsonl filter=lfs diff=lfs merge=lfs -text
KCAmodified/data/examination/output/test/qwen2-1.5b/5-shot/lima_testset_single_turn_classify_parse_res_select_need_knowledge_gen_parse_res_test_gen_normalize_openai_results.jsonl filter=lfs diff=lfs merge=lfs -text
KCAmodified/data/processed_results/tinyLLM_shot-5_lima_testset_drop.json filter=lfs diff=lfs merge=lfs -text
KCAmodified/data/processed_results/qwen2-1.5b_shot-5_lima_testset_sorry.json filter=lfs diff=lfs merge=lfs -text
KCAmodified/data/processed_results/tinyLLM_shot-5_vicuna_testset_sorry.json filter=lfs diff=lfs merge=lfs -text
KCAmodified/data/processed_results/qwen2-1.5b_shot-5_truthfulqa_test_truthset_drop.json filter=lfs diff=lfs merge=lfs -text
KCAmodified/data/examination/output/test/qwen2-1.5b/5-shot/lima_testset_single_turn_classify_parse_res_select_need_knowledge_gen_parse_res_test_gen_normalize.jsonl filter=lfs diff=lfs merge=lfs -text
KCAmodified/data/processed_results/qwen2-1.5b_shot-5_wizardlm_testset_drop.json filter=lfs diff=lfs merge=lfs -text
KCAmodified/data/processed_results/tinyLLM_shot-5_wizardlm_testset_drop.json filter=lfs diff=lfs merge=lfs -text
KCAmodified/qualitative_analysis/qualitative_analysis_tinyLLM_wizardlm_testset_greedy.json filter=lfs diff=lfs merge=lfs -text
KCAmodified/data/examination/output/test/qwen2-1.5b/5-shot/wizardlm_testset_single_turn_classify_parse_res_select_need_knowledge_gen_parse_res_test_gen_normalize_openai_results.jsonl filter=lfs diff=lfs merge=lfs -text
KCAmodified/data/examination/input/test_truth/truthfulqa_testset_single_turn_classify_parse_res_select_need_knowledge_gen_parse_res_test_gen_normalize_test.jsonl filter=lfs diff=lfs merge=lfs -text
KCAmodified/data/processed_results/tinyLLM_shot-5_lima_testset_sorry.json filter=lfs diff=lfs merge=lfs -text
KCAmodified/evaluation_results/review_greedy/data_TinyLLM_shot-5_lima_testset_hallucination_greedy.jsonl filter=lfs diff=lfs merge=lfs -text
KCAmodified/data/examination/output/train/qwen2-1.5b/5-shot/wizardlm_alpaca_single_turn_classify_parse_res_select_need_knowledge_gen_parse_res_test_gen_normalize.jsonl filter=lfs diff=lfs merge=lfs -text
KCAmodified/data/examination/output/train/tinyLLM/5-shot/wizardlm_alpaca_single_turn_classify_parse_res_select_need_knowledge_gen_parse_res_test_gen_normalize.jsonl filter=lfs diff=lfs merge=lfs -text
KCAmodified/data/examination/output/test/qwen2-1.5b/5-shot/wizardlm_testset_single_turn_classify_parse_res_select_need_knowledge_gen_parse_res_test_gen_normalize.jsonl filter=lfs diff=lfs merge=lfs -text
KCAmodified/data/processed_results/tinyLLM_shot-5_wizardlm_trainset_openbook.json filter=lfs diff=lfs merge=lfs -text
KCAmodified/data/processed_results/qwen2-1.5b_shot-5_wizardlm_testset_openbook.json filter=lfs diff=lfs merge=lfs -text
KCAmodified/data/processed_results/tinyLLM_shot-5_truthfulqa_test_truthset_openbook.json filter=lfs diff=lfs merge=lfs -text
KCAmodified/data/examination/output/test/tinyLLM/5-shot/wizardlm_testset_single_turn_classify_parse_res_select_need_knowledge_gen_parse_res_test_gen_normalize.jsonl filter=lfs diff=lfs merge=lfs -text
KCAmodified/data/metric_based_evaluation/msmacro_testset.jsonl filter=lfs diff=lfs merge=lfs -text
KCAmodified/data/processed_results/tinyLLM_shot-5_truthfulqa_test_truthset_drop.json filter=lfs diff=lfs merge=lfs -text
KCAmodified/data/processed_results/qwen2-1.5b_shot-5_wizardlm_trainset_drop.json filter=lfs diff=lfs merge=lfs -text
KCAmodified/evaluation_results/answer_greedy/data-TinyLLM_shot-5_vicuna_testset_greedy.jsonl filter=lfs diff=lfs merge=lfs -text
KCAmodified/qualitative_analysis/qualitative_analysis_qwen2-1.5b_wizardlm_testset_greedy.json filter=lfs diff=lfs merge=lfs -text
KCAmodified/qualitative_analysis/qualitative_analysis_qwen2-1.5b_truthfulqa_test_truthset_greedy.json filter=lfs diff=lfs merge=lfs -text
KCAmodified/data/examination/output/test_truth/qwen2-1.5b/5-shot/truthfulqa_testset_single_turn_classify_parse_res_select_need_knowledge_gen_parse_res_test_gen_normalize_openai_results.jsonl filter=lfs diff=lfs merge=lfs -text
KCAmodified/data/examination/input/test/lima_testset_single_turn_classify_parse_res_select_need_knowledge_gen_parse_res_test_gen_normalize_test.jsonl filter=lfs diff=lfs merge=lfs -text
KCAmodified/data/processed_results/qwen2-1.5b_shot-5_wizardlm_trainset_openbook.json filter=lfs diff=lfs merge=lfs -text
KCAmodified/data/processed_results/qwen2-1.5b_shot-5_vicuna_testset_openbook.json filter=lfs diff=lfs merge=lfs -text
KCAmodified/data/processed_results/qwen2-1.5b_shot-5_lima_testset_openbook.json filter=lfs diff=lfs merge=lfs -text
KCAmodified/data/examination/output/test_truth/qwen2-1.5b/5-shot/truthfulqa_testset_single_turn_classify_parse_res_select_need_knowledge_gen_parse_res_test_gen_normalize.jsonl filter=lfs diff=lfs merge=lfs -text
KCAmodified/data/processed_results/tinyLLM_shot-5_truthfulqa_test_truthset_sorry.json filter=lfs diff=lfs merge=lfs -text
KCAmodified/data/processed_results/tinyLLM_shot-5_wizardlm_trainset_sorry.json filter=lfs diff=lfs merge=lfs -text
KCAmodified/data/examination/output/test/tinyLLM/5-shot/vicuna_testset_single_turn_classify_parse_res_select_need_knowledge_gen_parse_res_test_gen_normalize.jsonl filter=lfs diff=lfs merge=lfs -text
KCAmodified/data/processed_results/qwen2-1.5b_shot-5_truthfulqa_test_truthset_sorry.json filter=lfs diff=lfs merge=lfs -text
KCAmodified/data/processed_results/tinyLLM_shot-5_wizardlm_testset_openbook.json filter=lfs diff=lfs merge=lfs -text
KCAmodified/qualitative_analysis/qualitative_analysis_qwen2-1.5b_vicuna_testset_greedy.json filter=lfs diff=lfs merge=lfs -text
KCAmodified/data/examination/output/train/qwen2-1.5b/5-shot/wizardlm_alpaca_single_turn_classify_parse_res_select_need_knowledge_gen_parse_res_test_gen_normalize_sft_instance_behavior.json filter=lfs diff=lfs merge=lfs -text
KCAmodified/data/examination/output/test/tinyLLM/5-shot/lima_testset_single_turn_classify_parse_res_select_need_knowledge_gen_parse_res_test_gen_normalize.jsonl filter=lfs diff=lfs merge=lfs -text
KCAmodified/data/processed_results/qwen2-1.5b_shot-5_vicuna_testset_drop.json filter=lfs diff=lfs merge=lfs -text
KCAmodified/data/processed_results/tinyLLM_shot-5_wizardlm_trainset_drop.json filter=lfs diff=lfs merge=lfs -text
KCAmodified/evaluation_results/answer_greedy/data-TinyLLM_shot-5_msmacro_model-llama_greedy.jsonl filter=lfs diff=lfs merge=lfs -text
KCAmodified/qualitative_analysis/qualitative_analysis_tinyLLM_truthfulqa_test_truthset_greedy.json filter=lfs diff=lfs merge=lfs -text
KCAmodified/data/examination/input/test/wizardlm_testset_single_turn_classify_parse_res_select_need_knowledge_gen_parse_res_test_gen_normalize_test.jsonl filter=lfs diff=lfs merge=lfs -text
KCAmodified/data/processed_results/tinyLLM_shot-5_lima_testset_openbook.json filter=lfs diff=lfs merge=lfs -text
KCAmodified/evaluation_results/answer_greedy/data-qwen2-1.5b_shot-5_truthfulqa_test_truthset_greedy.jsonl filter=lfs diff=lfs merge=lfs -text
KCAmodified/qualitative_analysis/qualitative_analysis_qwen2-1.5b_lima_testset_greedy.json filter=lfs diff=lfs merge=lfs -text
KCAmodified/data/examination/input/test/vicuna_testset_single_turn_classify_parse_res_select_need_knowledge_gen_parse_res_test_gen_normalize_test.jsonl filter=lfs diff=lfs merge=lfs -text
KCAmodified/data/processed_results/tinyLLM_shot-5_vicuna_testset_openbook.json filter=lfs diff=lfs merge=lfs -text
KCAmodified/evaluation_results/review_greedy/data-TinyLLM_shot-5_lima_testset_model-baseline_TinyLLM_wizardlm_alpaca_train_effectiveness_judge_greedy.jsonl filter=lfs diff=lfs merge=lfs -text
KCAmodified/evaluation_results/answer_greedy/data-qwen2-1.5b_shot-5_lima_testset_greedy.jsonl filter=lfs diff=lfs merge=lfs -text
KCAmodified/qualitative_analysis/qualitative_analysis_tinyLLM_lima_testset_greedy.json filter=lfs diff=lfs merge=lfs -text
KCAmodified/data/examination/output/test_truth/tinyLLM/5-shot/truthfulqa_testset_single_turn_classify_parse_res_select_need_knowledge_gen_parse_res_test_gen_normalize.jsonl filter=lfs diff=lfs merge=lfs -text
KCAmodified/data/processed_results/qwen2-1.5b_shot-5_lima_testset_drop.json filter=lfs diff=lfs merge=lfs -text
KCAmodified/data/processed_results/qwen2-1.5b_shot-5_wizardlm_trainset_sorry.json filter=lfs diff=lfs merge=lfs -text
KCAmodified/data/processed_results/tinyLLM_shot-5_wizardlm_testset_sorry.json filter=lfs diff=lfs merge=lfs -text
KCAmodified/evaluation_results/answer_greedy/data-qwen2-1.5b_shot-5_wizardlm_testset_greedy.jsonl filter=lfs diff=lfs merge=lfs -text
KCAmodified/evaluation_results/answer_greedy/data-qwen2-1.5b_shot-5_vicuna_testset_greedy.jsonl filter=lfs diff=lfs merge=lfs -text
KCAmodified/data/examination/output/train/tinyLLM/5-shot/wizardlm_alpaca_single_turn_classify_parse_res_select_need_knowledge_gen_parse_res_test_gen_normalize_sft_instance_behavior.json filter=lfs diff=lfs merge=lfs -text
KCAmodified/data/examination/input/train/wizardlm_alpaca_single_turn_classify_parse_res_select_need_knowledge_gen_parse_res_test_gen_normalize_test.jsonl filter=lfs diff=lfs merge=lfs -text
KCAmodified/evaluation_results/answer_greedy/data-TinyLLM_shot-5_truthfulqa_test_truthset_greedy.jsonl filter=lfs diff=lfs merge=lfs -text
KCAmodified/evaluation_results/answer_greedy/data-TinyLLM_shot-5_wizardlm_testset_greedy.jsonl filter=lfs diff=lfs merge=lfs -text
KCAmodified/evaluation_results/answer_greedy/data-TinyLLM_shot-5_acibench_model-llama_greedy.jsonl filter=lfs diff=lfs merge=lfs -text
